.projects-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container-projects-inner {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 50px auto;
    margin-top: 5%;
}

.projects-square {
    width: 300px;
    height: 300px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    border: 2px solid black;
    /* color: white; */
    text-align: center;
    vertical-align: middle;
}

.projects-square h4 {
    position: absolute;
    margin-top: 80px;
    width: 280px;
    margin-left: 10px;
}

.projects-square:hover {
    width: 600px;
    height: 600px;
}

.projects-square:hover h4 {
    visibility: hidden;
}


.projects-background {
    position: absolute;
    background-color: #F99417;
    margin-left: 10px;
    margin-top: 10px;
    width: 280px;
    height: 280px;
    transition: all 0.3s ease-in-out;
}

.projects-square:hover .projects-background {
    position: absolute;
    background-color: #F99417;
    margin-left: 10px;
    margin-top: 10px;
    width: 580px;
    height: 580px;
}

.projects-square:first-child:hover::after {
    /* content: "square 1"; */
    display: block;
    font-size: 16px;
    color: white;
}

.projects-content {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.projects-square:hover .projects-content {
    position: absolute;
    visibility: visible;
    z-index: 10;
    color: white;
    width: 520px;
    margin: 30px;

    animation: fade-in-text-projects;
    animation-duration: 1.5s;
}

@keyframes fade-in-text-projects {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* .square:nth-child(2) {
  background-color: #F99417;
} */
.projects-square:nth-child(2):hover::after {
    content: "square 2";
    display: block;
    font-size: 16px;
    color: white;
}

a {
    color: white;
    /* font-weight: bold; */
}


/* .square:last-child {
  background-color: #F99417;
} */
.projects-square:last-child:hover::after {
    content: "square 3";
    display: block;
    font-size: 16px;
    color: white;
}


.projects-orbiter {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #F99417;

    animation: projects-orbit;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes projects-orbit {
    0% {
        margin-top: -20px;
        margin-left: -20px;
    }

    25% {
        margin-top: -20px;
        margin-left: 300px;
    }

    50% {
        margin-top: 300px;
        margin-left: 300px;
    }

    75% {
        margin-top: 300px;
        margin-left: -20px;
    }

    100% {
        margin-top: -20px;
        margin-left: -20px;
    }
}






.projects-square:hover .projects-orbiter {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #F99417;

    animation: projects-orbit-large;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes projects-orbit-large {
    0% {
        margin-top: -20px;
        margin-left: -20px;
    }

    25% {
        margin-top: -20px;
        margin-left: 600px;
    }

    50% {
        margin-top: 600px;
        margin-left: 600px;
    }

    75% {
        margin-top: 600px;
        margin-left: -20px;
    }

    100% {
        margin-top: -20px;
        margin-left: -20px;
    }
}





.iron-man-icon {
    background-image: url('../images/iron-man.png');
    background-size: 200px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}


.csv-icon {
    background-image: url('../images/csv.png');
    background-size: 200px;
    border-radius: 5px;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}


.parkexplorer-icon {
    background-image: url('../images/parks-icon.png');
    background-size: 400px;
    border-radius: 5px;
    background-repeat: no-repeat;
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}