.name-container {
  padding: 1vh;
}

.name-input {
  width: 50%;
  border: none;
  font: inherit;
  font-size: x-large;
  border-radius: 1vh;
  border: 2px solid #F99417
}



.email-container {
  padding: 1vh;
}

.email-input {
  width: 50%;
  border: none;
  font: inherit;
  font-size: x-large;
  border-radius: 1vh;
  border: 2px solid #F99417
}



.message-container {
  padding: 1vh;
}
.message-input {
  width: 50%;
  height: 15vh;
  border: none;
  font: inherit;
  font-size: larger;
  border-radius: 1vh;
  border: 2px solid #F99417
}

.submit-button {
  border: 2px solid #F99417;
  background-color: white;
}

.submit-button:hover {
  border: 2px solid #F99417;
  background-color: #F99417;
  color: white;
}