
.leaflet-container {
    /* margin-top: -10vh; */
    /* margin-bottom: 5vh; */
    /* height: 92vh; */
    /* margin-left: 2vw; */
    /* width: 65vw; */
    /* margin-top: 10vh; */
    width: 90%;
    height: 70vh;
    border-radius: 1vh;
    /* margin-left: 50%; */
    /* margin: auto; */
    /* border: 1px solid black; */
    
}
